.dashboard {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgba(blue, 0.7), rgba(darkblue, 0.7), rgba(blue, 0.7));
    border: 1px solid black;
    border-radius: 50px;
  }

  &_title {
    background: linear-gradient(90deg, #e7e7e7 1.14%, #9e9e9e 28.83%, #f2f2f2 57.49%, #949494 89.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.5rem;
  }
}
