*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid green;
}

body {
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgba(blue, 0.7), rgba(darkblue, 0.7), rgba(blue, 0.7));
    border: 1px solid black;
    border-radius: 50px;
  }
}

.app {
  background: linear-gradient(169deg, #021650 0%, rgb(56, 170, 228) 100%);
}
