@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.app {
  background: linear-gradient(169deg, #021650 0%, #38aae4 100%); }

.dashboard::-webkit-scrollbar {
  width: 0.5rem; }

.dashboard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.dashboard::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.7), rgba(0, 0, 139, 0.7), rgba(0, 0, 255, 0.7));
  border: 1px solid black;
  border-radius: 50px; }

.dashboard_title {
  background: linear-gradient(90deg, #e7e7e7 1.14%, #9e9e9e 28.83%, #f2f2f2 57.49%, #949494 89.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.5rem; }

.card {
  position: absolute;
  overflow: hidden;
  background: #000; }
  .card::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 500%;
    width: 500%;
    top: -200%;
    left: -200%;
    background-image: linear-gradient(180deg, white 0%, #1d3bff 100%);
    animation: rotateBg 3s linear infinite;
    transform: all 3s linear; }
  .card::after {
    content: '';
    position: absolute;
    inset: 5px; }

@keyframes rotateBg {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200vw;
  left: -50%;
  line-height: 0;
  animation: motionOfTheOcean 11s linear infinite; }
  .wave svg {
    position: relative;
    display: block;
    width: 200vw;
    height: 120px; }
  .wave .shape-fill {
    fill: rgba(0, 0, 0, 0.9); }

@keyframes motionOfTheOcean {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(-20vw); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(20vw); }
  100% {
    transform: translateX(0); } }
